@using EShop.Service.DataTransferObjects;
@model ProductDTO

<div class="card border border-primary m-1">
    <img class="card-img-top" src="@("Img/" + Model.ImgUrl)" alt="@Model.Name" />
    <div class="card-body">
        <h5 class="card-header">@Model.Name</h5>
        <p class="card-text">Test here</p>
    </div>
</div>