@page   "{SeachString?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container">
    <form class="row input-group" method="get" asp-page-handler="Seach">
        <input type="text" class="form-control" />
        <button type="submit" class="input-group-append btn btn-primary">Search</button>
    </form>
    <div class="row">
        @foreach (ProductDTO product in Model.ProductDTOs)
        {
            <div class="col-3 mb-3 mt-3" style="max-height: 50rem">
                <partial name="_ProductCard" model="product" />
            </div>
        }
    </div>
</div>