@page  
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container">
    <h3>@Model.WelcomeMeassage</h3>
    <form class="row m-0 input-group" method="get" asp-page-handler="Seach">
        <select class="input-group-prepend border-primary p-1" asp-for="@Model.OrderBy">
            <option value="0">Default</option>
            <option value="1">Lowest First</option>
            <option value="2">Higest First</option>
        </select>
        <input type="text" class="form-control border-primary" asp-for="@Model.SeachString" />
        <button type="submit" class="input-group-append btn btn-primary">Search</button>
    </form>
    <div class="row">
        @if (Model.ProductDTOs.Count > 0)
        {
            @foreach (ProductDTO product in Model.ProductDTOs)
            {
                <div class="col-3 mb-3 mt-3" style="max-height: 50rem">
                    <partial name="_ProductCard" model="product" />
                </div>
            }
        }
    </div>
</div>