@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container">
    <form class="row input-group">
        <input type="text" class="form-control" />
        <button type="submit" class="input-group-append btn btn-primary">Search</button>
    </form>
    <div class="row">
        @foreach (ProductDTO product in Model.ProductDTOs)
        {
            <div class="col-3 m-auto">
                <partial name="_ProductCard" model="product" />
            </div>
        }
    </div>
</div>