@page
@model EShop.Web.Pages.Product.AddProductModel
@{
}

<div class="container">
    <div class="row border-bottom border-primary">
        <h1 class="m-1">Add New Product</h1>
    </div>
    <div class="row mt-2">

    </div>
</div>