@page
@model EShop.Web.Pages.User.UserOrderViewModel
@{
}

<div class="container">
    <div class="row border-bottom border-primary">
        <h1 class="m-1">Order History</h1>
    </div>
    <div class="row mt-2">
        <div class="col-10 m-auto">
            @foreach (OrderDTO order in Model.UserOrders)
            {
                <div class="row border border-primary rounded-0 m-1">
                    <div class="col-3 border-right">
                        <label class="form-text">Order Number:</label>
                        <h5>@order.OrderId</h5>
                    </div>
                    <div class="col-3 border-right">
                        <label class="form-text">Order Date:</label>
                        <h5>@order.OrderDate</h5>
                    </div>
                    <div class="col-3 border-right">
                        <label class="form-text">Order Price:</label>
                        <h5>@order.TotalOrderPrice.ToString("#.##")€</h5>
                    </div>
                    <div class="col-3 p-1 m-auto text-center">
                        <a asp-page="OrderDetails" asp-route-OrderId="@order.OrderId" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>